{% extends "news/_base.html" %}
{% block title %}관계사뉴스{% endblock %}
{% block search %}
<form class="form-inline my-2 my-lg-0 justify-content-end"  method="GET" action="{% url 'main_company' %}">
  {% csrf_token %}
  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-primary" type="submit">search</button>
</form>
{% endblock %}
{% block table %}
<div class="row mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="center">회사명</th>
          <th class="center">신문사</th>
          <th>뉴스제목</th>
          <th class="center">날짜</th>
          <th class="center">카테고리</th>
        </tr>
      </thead>
      <tbody></tbody>
        {% for main in main_company_info %}
        <tr>
          <td class="center">{{ main.company_name }}</td>
          <td class="center">{{ main.media }}</td>
          {% if main.news_url == 'None' %}
          <td>{{ main.news_title }}</td>
          {% elif 'https://help.naver.com/support/' in main.news_url %}
          <td>{{ main.news_title }}</td>
          {% else %}
          <td><a href="{{ main.news_url }}">{{ main.news_title }}</a></td>
          {% endif %}
          <td class="center">{{ main.date }}</td>
          <td class="center">{{ main.category }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <nav>
      <ul class="pagination justify-content-center">
        {% if main_company_info.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?p=1">처음으로</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?p={{ main_company_info.previous_page_number }}">이전으로</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link " href="#">처음으로</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">이전으로</a>
        </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ main_company_info.number }} / {{ main_company_info.paginator.num_pages }}</a>
        </li>
        {% if main_company_info.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{ main_company_info.next_page_number }}">다음으로</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?p={{ main_company_info.paginator.num_pages }}">마지막으로</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#">다음으로</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">마지막으로</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}